body{
    background-color: rgb(228, 228, 228);
    text-align:center;
}
div.view
{
    background: none repeat scroll 0px 0px rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgb(166, 166, 166);
    display: inline-block;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 83%;
}
img.image-block
{
    border: 1px solid rgb(160, 186, 213);
    border-radius: 8px;
    width: 150px;
    display: block;
    float: left;
    margin: 5px;
}
div.textformat
{
    text-align:left;
    margin-left: 16px;
    margin-right: 16px;
}
div.secalign{
    margin-left: 100px;
}
h1
{
    font-size: 2em; 
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
h2
{
    font-size: 1.5em;
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
h3
{
    font-size: 1.17em;
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
h5
{
    font-size: .83em;
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
hr{
   color:#326C99; 
}
div.value
{
    font-size: .75em;
    font-weight: normal;
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
div.title
{
    font-size: .75em;
    font-weight: bold;
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
div.title2
{
    font-size: .75em;
    color:#326C99;
    font-family: Tahoma,Geneva,sans-serif;
}
th.thtitles
{
    width:200px;
    vertical-align:top;
    text-align:right;
}
th.thvalues
{
    width:500px;
    vertical-align:top;
    text-align:left;
}
#menu-vertical{
  position:fixed;
  z-index:999; 
  left:5px; 
  top:5px;
  overflow:hidden;
  border:1px dashed #CCC;
  padding:6px;
}
